body {
	background-color: #2C7391;
	color: #e6973e;
}
.feed-scroller {
	width: 90%;
}
.feed-container {
	display: inline-block;
	width: 33%;
	text-align: center;
	margin-bottom: 20px;
}
#container {
	padding: 20px;
}

.heading {
	width: 90%;
	font-size: 20px;
	text-decoration: underline;
	text-transform: capitalize;
}

.feed {
	border: 1px solid black;
	padding: 20px;
	height: 70px;
	background-color: #345c6d;
	color: white;
	border-radius: 10px;
}

