#container {
	padding: 20px;
}

.heading {
	color: #FE2EF7;
	font-family: serif;
	font-size: 40px;
	text-decoration: underline;
}

.feed {
	font-family: sans-serif;
	background-color: #F6CEF5;
	border: 1px solid #FF0080;
	padding: 20px;
}